.field-test_button label {
    color: var(--body-bg);
}

.button {
    padding: 8px 12px !important;
}

#connector-test-result {
    margin-left: 12px;
    font-weight: bold;
}

#connector-test-help {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
